.faq {
	width: inherit;
	background-color: initial;
	margin-bottom: 130px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
	row-gap: 50px;
	font-family: Poppins;
	.heading {
		text-align: center;
		margin: 0 auto;
		h2 {
			font-size: 38px;
			font-weight: 600;
			line-height: 56px;
		}
		a {
			text-decoration: none;
			font-size: 18px;
			font-weight: 600;
			line-height: 32px;
			color: var(--textColor__Blue);
		}
	}
	.question {
		width: 80%;
		margin: 0 auto;
		text-align: left;
		.accordion {
			.accordion-item {
				.accordion-header {
					.accordion-button {
						span:nth-of-type(1) {
							margin-right: 7%;
							font-size: 20px;
							font-weight: 600;
							line-height: 36px;
							color: var(--textColor__Blue);
						}
						span:nth-of-type(2) {
							font-size: 20px;
							font-weight: 600;
							line-height: 36px;
						}
					}
				}
			}
		}
	}
}
.accordion-flush > .accordion-item > .accordion-header .accordion-button,
.accordion-flush > .accordion-item > .accordion-header .accordion-button.collapsed {
	height: 100px;
}
